<div class="mb-8">
  <h1 class="text-4xl sm:text-5xl font-bold text-slate-200 mb-4">Fernando Tello</h1>
  <h2 class="text-xl sm:text-2xl font-bold text-green mb-5">Software Engineer</h2>
  <p class="mt-6 mb-12 text-lg text-slate-400 max-w-md">
    Full-stack web & mobile developer | AI & Cloud enthusiast | Pursuing a Master's in Artificial Intelligence
  </p>

  <!-- Navigation -->
  <nav class="nav hidden lg:block">
    <ul class="mt-8 space-y-4">
      @for (navItem of navItems; track navItem.id) {
      <li>
        <a href="#{{navItem.id}}" class="text-sm uppercase tracking-widest hover:text-green transition-colors"
          [ngClass]="{'text-green font-bold': activeSection === navItem.id}">
          {{navItem.label}}
        </a>
      </li>
      }
      <!-- <li>
        <a href="#about" class="text-sm uppercase tracking-widest hover:text-green transition-colors"
          [ngClass]="{'text-green font-bold': activeSection === 'about'}">
          About
        </a>
      </li>
      <li>
        <a href="#experience" class="text-sm uppercase tracking-widest hover:text-green transition-colors"
          [ngClass]="{'text-green font-bold': activeSection === 'experience'}">
          Experience
        </a>
      </li>
      <li>
        <a href="#projects" class="text-sm uppercase tracking-widest hover:text-green transition-colors"
          [ngClass]="{'text-green font-bold': activeSection === 'projects'}">
          Projects
        </a>
      </li> -->
    </ul>
  </nav>

</div>
